<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <title>{% block title %}{% endblock %}</title>
        <link href="{{STATIC_URL}}application/img/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="description" content=""/>
        <meta name="author" content=""/>
        <!-- mobile viewport optimisation -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- stylesheets -->
        <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/js/bootstrap.min.js"></script>
        <script src="{{STATIC_URL}}/realtime/js/jsrender.js"></script>
        <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css" rel="stylesheet">
        <link href="{{STATIC_URL}}/realtime/css/styles.css" rel="stylesheet">
        {% block extra_head %}{% endblock %}
    </head>
    <body>
        <div id="wrapper">

            {% block js_templates %}{% endblock %}

            {% block content %}{% endblock %}

        </div>

    </body>
</html>
